/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#startBackground {
	-fx-background-image: url("/intro.png");
	-fx-background-size: cover;
}

#startTwoBackground {
	-fx-background-image: url("/choosePlayer.jpg");
	-fx-background-size: cover;
}